@charset "UTF-8";

/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/*Removed for accessibility guidleines iframe,*/

html,
body,
div,
span,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

.category {
    visibility: hidden;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: happy_Monkey;
    src: url(../fonts/HappyMonkey-Regular.ttf);
}

header {
    padding: 7px 14px 28px 7px;
    font-style: italic;
    font-weight: bolder;
    font-family: happy_Monkey, arial, sans-serif;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

footer {
    padding: 20px 30px;
    /*to be reviewed once operational*/
    /*background-color: #a62828;*/
    /*background-image: url(../images/spices-73770_1920.jpg);*/
}

body {
    margin-left: auto;
    margin-right: auto;
    /*background-image: url(../images/round_greyop50.svg);*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-style: normal;
    font-weight: 400;
    font-family: Calibri, Segoe, 'Trebuchet MS', Verdana, 'sans-serif';
}

.style-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
}

.style-nav ul {
    list-style-type: none;
}

.style-nav ul li a {
    text-decoration: none;
    color: #000000;
    text-align: center;
    display: block;
    text-transform: uppercase;
    padding: 8px;
}


.style-nav ul li a:hover {
    text-decoration: none;
    color: #4c61a5;
    text-align: center;
    display: block;
    text-transform: uppercase;
    padding: 8px;
    background: #d8b91f;
}

.hero {
    height: 42vh;
    /*background: linear-gradient(45deg, #d8b91f, #ffffff, #4c61a5) 0 0 / 1000% no-repeat, url(../images/smile-regular.svg) 0 0 / cover no-repeat;
    -webkit-animation: gradientAnimation 40s ease infinite;*/
    background: linear-gradient(45deg, rgba(216, 185, 31, 0.7), rgb(160, 160, 160), rgba(76, 97, 165, 0.7)) 0 0 / 1000% no-repeat, url(../images/android-brands.svg) 0 0 / cover no-repeat;
    animation: gradientAnimation 30s ease infinite;
}

@-webkit-keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }

    50% {
        background-position: 100% 70%, 0 0;
    }

    100% {
        background-position: 0% 30%, 0 0;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }

    50% {
        background-position: 100% 70%, 0 0;
    }

    100% {
        background-position: 0% 30%, 0 0;
    }
}

h1 {
    font-size: 3.0em;
    text-transform: uppercase;
    font-weight: 200;
    margin: 40px 28px;
    /*margin-bottom: 60px;*/
}

h2 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 23px;
    font-style: italic;
}

h3 {
    font-size: 1.4em;
    /*text-transform: uppercase;*/
    font-weight: bold;
    text-align: center;
    padding: 7px;
    font-style: italic;
}

h4 {
    font-size: 1.22em;
    font-weight: 200;
    padding: 7px;
    text-align: center;
}

p {
    font-size: 1.2em;
    padding: 7px;
    font-weight: 400;
    margin-bottom: 10px 0 35px 0;
    text-align: center;
}

.moreinfo-green {
    border: 1.75px #FFFFFF solid;
    padding: 8px 30px;
    border-radius: 14px;
    width: 150px;
    font-size: 1.0em;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
    background: #d8b91f;
    font-family: Calibri, Segoe, 'Trebuchet MS', Verdana, 'sans-serif';
}

button.moreinfo-green.active,
button.accordion:hover {
    background: #4c61a5;
    background-position: center;
    background-repeat: no-repeat;
}

button.moreinfo:after {
    color: #FFFFFF;
    float: right;
    margin-left: 5px;
}

div.panel {
    margin-top: 10px;
    padding: 7px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

div.panel.show {
    opacity: 1;
    max-height: 50%;
}

div ul li {
    list-style-type: none;
}

.panel.show ul {
    padding: 14px;
}

.panel.show h3,
.panel.show h4 {
    padding: 7px;
    font-weight: bold;
}

.panel.show p {
    text-align: center;
}

.panel a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.panel a:hover {
    color: blue;
}

.info-box-clear h4 {
    font-family: happy_Monkey, arial, sans-serif;
    font-style: italic;
    padding: 7px 7px 14px 7px;
    margin-bottom: 7px;
}

.info-box-clear {
    color: #000000;
    padding: 40px 14px 40px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
}

.info-box-logout {
    color: #000000;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    padding: 7px;
}

.footer-text {
    float: right;
    font-size: 0.8em;
    font-family: happy_Monkey, arial, sans-serif;
    font-style: italic;
}

.fb-like {
    float: right;
}

.fb-page {
    width: 90%;
    height: 90%;
}

.col {
    width: 100%;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.nodisplay {
    display: none;
}

.hidden {
    visibility: hidden;
}

.info-box-clear img,
address img {
    width: 30%;
    padding: 7px 7px 14px 0;
    /*Code comes fro thirded pages - see contact page
	height: 30%;
	float: left;
	margin-right: 14px;*/
}

.message {
    text-align: center;
}

.skip_link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

aside {
    margin-bottom: 14px;
}

/*Rotation button images*/
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    overflow: auto;
}

.boxes div {
    font-size: 1.5rem;
    border: 3px #000 solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out;
}

.boxes div:hover {
    padding: 1.0rem 1.5rem;
    background: #d8b91f;
    border: 3px #4c61a5 solid;
    color: #000;
}

.boxes div:hover span {
    color: #000;
}

.boxes div:hover i {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.boxes div:hover i {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/*flexbox css*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    align-content: center;
}

.flex-container>div {
    background-color: #d8b91f;
    border: #000000 1px solid;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.fas {
    margin: 7px;
}

/*shape-outside function*/
.shaper {
    margin-top: 7px;
    width: 80%;
    height: 80%;
    shape-outside: polygon(0 0, 100% 50%, 0 75%);
    float: none;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    background-color: #4c61a5;
}

/*nth child panel*/
li.secondchild:nth-child(even) {
    color: #4c61a5;
    margin: 7px;
}

li.secondchild:nth-child(odd) {
    color: #d8b91f;
    margin: 7px;
}

/*Skew and transform*/
.fab {
    transform: skew(50deg, -20deg) scaleY(0.5);
}

/*Keyframes & Boxshadows*/
@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px #4c61a5;
    }

    100% {
        box-shadow: 0 0 0 30px #d8b91f;
    }
}

.imagepulse {
    margin: 3em;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 50%;
    animation: radial-pulse 1s infinite;
}

/*Fade a page in CSS*/
.fadelist {
    margin: 40px auto;
}

.fadelist li {
    display: inline;
    color: #eee;
}

.fadein {
    z-index: 2;
}

.fadein:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: -1;
    pointer-events: none;
}

.fadein:hover:after {
    z-index: 1;
    background: rgba(0, 0, 0, 0.50);
}

.fadein img {
    background: #d8b91f;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

/*Grid container*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 7px;
}

.grid-item:nth-child(even) {
    background-color: #4c61a5;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.grid-item:nth-child(odd) {
    background-color: #d8b91f;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.grid-item:hover {
    background-color: #ffffff;
}


/*Tablet View*/

@media (min-width: 768px) {
    body {
        max-width: 778px;
    }

    .style-nav ul li {
        display: inline-block;
    }

    .style-nav ul {
        text-align: center;
    }

    h1 {
        font-size: 3.0em;
        /*margin-bottom: 14px;*/
    }

    h2 {
        margin-bottom: 16px;
        font-family: happy_Monkey, arial, sans-serif;
        font-style: italic;
        font-weight: bold;
    }

    .col-md-one-half {
        width: 50%;
    }

    .col {
        float: left;
        padding: 0px 7px 14px;
    }

    .col-md-one-third {
        width: 33%;
    }

    .col-md-two-third {
        width: 66%;
    }

    .nodisplay {
        display: block;
    }

    .socialinfo {
        padding: 8px 30px;
        border-radius: 20px;
        width: 33%;
    }

    #menuToggle {
        top: 7px;
    }
}


/*Desktop View*/

@media (min-width: 1024px) {
    body {
        max-width: 2400px;
    }

    .style-logo {
        float: left;
    }

    .style-nav {
        float: right;
    }

    .col-lg-one-fourth {
        width: 25%;
    }

    .col-lg-one-third {
        width: 33%;
    }

    .col-lg-two-third {
        width: 66%;
    }

    .nodisplay {
        display: block;
    }

    .socialinfo {
        padding: 8px 30px;
        border-radius: 20px;
        width: 33%;
    }

    #menuToggle {
        top: 7px;
    }
}

/*Ex burger menu*/
@font-face {
    font-family: happy_Monkey;
    src: url(../fonts/HappyMonkey-Regular.ttf);
}

.burger {
    /* make it look decent enough */
    background: #ffffff;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
    height: 0;
    width: 0;
}

.burger a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

.burger a:hover {
    color: #4c61a5;
}

#menuToggle {
    display: block;
    position: relative;
    top: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 24px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}


/*
 * Just a quick hamburger
 */

#menuToggle span {
    display: inline-block;
    width: 50px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #cdcdcd;
}


/*
 * But let's hide the middle one.
 */

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


/*
 * Ohyeah and the last one should go the other direction
 */

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu {
    position: absolute;
    opacity: 1;
    /*width: 33%;*/
    margin: -100px 0 0 -150px;
    padding-left: 150px;
    padding-top: 100px;
    padding-right: 7px;
    background: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 2px 0;
    font-style: italic;
}

label {
    padding: 2px 0;
    margin-bottom: 7px;
    font-size: 1em;
    font-family: happy_Monkey, arial, sans-serif;
    font-style: italic;
}


/*
 * And let's slide it in from the left
 */

#menuToggle input:checked~ul {
    transform: none;
}

/*Robbozinoz duplicate menu*/
/*Burger menu start*/
.burger {
    color: #cdcdcd;
    height: 0;
    width: 0;
}


.burgerLink {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

.burgerLink:hover {
    color: #4c61a5;
    display: block;
    text-transform: uppercase;
    font-size: 1.2em;
}

#menuToggle {
    display: block;
    position: relative;
    top: 28px;
    /*right: 50px;*/
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #cdcdcd;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu a li {
    padding-top: 0.7vh;
    padding-left: 5vh;
    font-size: 1.2em;
    margin: 0.7vh 25vh 0 0;
    font-family: happy_Monkey, arial, sans-serif;
}